@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: darkmagenta;
}

.container_container-header,
.container_container-main{
    padding:0 0%;
    margin: 0;
    width: 70%;
    height: auto;
    margin: auto;
    
}

.container_container-main{
    font-family: 'Monoton', cursive;
    /* opacity: 0.9; */
}

.container_container-header_nav{
    padding: 10px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkmagenta;
}

.container_container-header_nav_ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: indigo;
    border-radius: 15px;
}

.container_container-header_nav_ul_li{
    list-style: none;
    margin:15px;
}

.container_container-header_nav_ul_li_a{
    text-decoration: none;
    color: cadetblue;
    font-size: larger;
    font-weight: 400;
    word-spacing: 20px;
    font-family: 'Rubik Mono One', sans-serif;
}

.container_container-header_nav_ul_li_a:hover{
    color: gold;
}

.container_container-main_form-search{
    padding: 25px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_container-main_form-search_input-search{
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
    width:70%;
    border:1px solid indigo;
}

.container_container-main_form-search_submit-button{
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    border:none;
    padding: 0;
    background-color: darkmagenta;
}

.container_container-main_form-search_input-search:hover{
    border:1px solid burlywood;

}

.container_container-main_form-search_input-search-div{
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
    width:70%;
    border:none;
}

.container_container-main_form-search_submit-button{
    padding: 0;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    color: crimson;
    font-family: 'Orbitron', sans-serif;
}

.container_container-main_article-get-movies{
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 15px;
    margin-bottom: 20px;
}

.container_container-main_article-get-movies_by-name{
    padding: 20px;
}

/* .none{
    display: none;
    visibility:hidden;
} */

.container_container-main_article-get-movies_by-name_p,
.container_container-main_article-get-movies_by-name_p_title{
    position: static;
    line-height: 30px;
    word-break: keep-all;
    word-spacing: 7px;
    font-size: 20px;
    color: blueviolet;
    font-weight: 600;
    padding: 10px;
}

.container_container-main_article-get-movies_by-name_h1{
    position: static;
    line-height: 30px;
    word-break: keep-all;
    word-spacing: 7px;
    font-size: 20px;
    color: crimson;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 20px;
}

.container_container-main_article-get-movies_by-name_p:hover,
.container_container-main_article-get-movies_by-name_p_title:hover{
    background-color: deepskyblue;
    opacity: 0.6;
}

.container_container-header_nav_ul_li_ul-request_li_a:hover{
    background-color: darkmagenta;
}

.container_container-header_nav_ul_li_ul-request{
    /* visibility: hidden; */
    display: none;
    position: absolute;
    top: 7%;
    height: 100%;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    margin-top: -20px;
    padding-top: 20px;
}

.container_container-header_nav_ul_li_ul-request_li_a{
    display: none;
    visibility: hidden;
    padding:40px;
    text-decoration: none;
    color: gold;
    font-size: medium;
    font-weight: 400;
    word-spacing: 20px;
    font-family: 'Rubik Mono One', sans-serif;
    width: 300px;
    background-color: indigo;
    border: none;
    opacity: 1;
    cursor:pointer;
}

.container_container-header_nav_ul_li_ul-request_li{
    list-style: none;
    visibility: hidden;
    display: none;
    width: 300px;
    margin:0;
}

.container_container-main_article-get-movies_by-name_p-link{
    color: crimson;
    font-size: large;
    font-weight: 800;
    border: none;
    background-color: antiquewhite;
    border-radius: 50%;
    font-family: 'Orbitron', sans-serif;
    width: 40px;
    height: 30px;
    margin:10px;
}

.container_container-main_article-get-movies_by-name_p-pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

